// 初始、开始状态
.xt-color-10{
  color: #76797F;
}

.xt-color-20{
  color: #1885DD;
}

.xt-color-30{
  color: #00C6C6;
}
//完成、成功状态
.xt-color-40{
  color: #0EA501
}
//
.xt-color-50{
  color: #E67500
}

.xt-color-60{
  color: #E24C00
}

.xt-color-70{
  color: #FF0101;
}

.xt-color-80{
  color: #FFFFFF;
}

.xt-color-90{
  color: #000000
}

// 初始、开始状态
.xt-bg-color-10{
  background-color: #909399;
}

.xt-bg-color-20{
  background-color: #CEC4FF;
}

.xt-bg-color-30{
  background-color: #409EFF
}

.xt-bg-color-40{
  background-color: #00D3D3
}
//完成、成功状态
.xt-bg-color-50{
  background-color: #67C23A
}

.xt-bg-color-60{
  background-color: #F9AB1D
}

.xt-bg-color-70{
  background-color: #FF7A48
}

.xt-bg-color-80{
  background-color: #F56C6C
}

.xt-bg-color-90{
  background-color: #FFFFFF
}

.xt-bg-color-100{
  background-color: #000000
}


